#landingpage{


    text-align: center;
    height: 100vh;
    background-color: black;
    color: white;

    /* Temp alignment */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.link{
    text-decoration: none;
    color: black;
    background-color: white;
    height: 80px;
    width: 300px;
    font-size:larger;
}

.link:hover{
    background-color: greenyellow;
    font-weight: 800;
    text-decoration: none;
}