#landingpage{


    text-align: center;
    height: 100vh;
    background-color: black;
    color: white;

    /* Temp alignment */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

Link{
    text-decoration: none;
    list-style: none;
}