#footer{
    height: 55vh;
    background-color: #111827;
    color: #8B5CF6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    line-height: 150%;
    border-top: 1px solid white;
    /* font-size: large; */
  }
  
  .newsletter input {
    margin-top: 10px;
    margin-right: 2.5px;
    height: 35px;
    width: 300px;
    border-radius: 8px;
    padding: 0 12px;
   border: none;
  }
  
  .newsletter{
    font-size: large;
  }
  
  #newsbutton{
    height:35px;
    width: 120px;
    border: none;
    border-radius: 8px;
    background-color: #8B5CF6;
    transition: 0.45s;
    font-weight: bold;
  }
  
  #newsbutton:hover{
    font-weight: bolder;
    color: white;
    background-color: #5e01f5;
  }
  
  .socials{
    width: 30rem;
  }
  
  #findushere{
    font-family: 'Kalnia', serif;
    font-weight: 900;
  }
  
  #socialLink{
    font-size: large;
    font-weight: 400;
    color: white;
  }
  
  #socialLink a{
    /* text-decoration:none; */
    color: white;
    padding-right: 35px;
  }
  
  #address{
    font-family: 'Kalnia', serif;
    font-weight: 900;
  }
  
  #addressLink{
    font-size: medium;
    font-weight: 300;
    color: white;
  }