.main{
    /* width: 100vw; */
    background-color: #111827;

    h1{
        color: #8B5CF6;
        font-weight: 700;
        text-align: center;
        font-size:4rem;
    }
    #h6{
        color: #757575;
        text-align: center;
        font-size:1.5rem;
    }
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  grid-template-rows: repeat(2, 2fr);
  gap: 30px;
  padding: 30px;
}

.card {
  border-radius: 8px;
  background-color: black;
  border: 2px solid white;
  padding: 15px;
  height: 450px;
  width: 350px;
  color: white;
  align-items: center;
  display: flex;
  justify-content: center;

  h5 {
    font-weight: 900;
  }

  p {
    color: grey;
  }
}

.card img{
    margin-top: 10px;
    height: 180px;
    width: 260px;
}